/*맨 위 페이지의 헤더*/
h2, a {
   font-family: 'Jeju Hallasan';
}

/*페이지 헤더에 들어가는 요소들의 font들*/
.header-font {
   font-family: 'Jeju Hallasan';
   color: #ffffff;
   font-size: 13pt;
}

.header-font a, .header-font a:visited, .header-font a:active {
   font-family: 'Jeju Hallasan';
   color: #ffffff;
   font-size: 13pt;
   text-decoration: none;
}

/*페이지 헤더 섹션*/
.page-header {
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
}

.page-header h2, .page-header h2 a, .page-header h2 a:visited, .page-header h2 a:active {
    color: #ffffff;
    font-size: 32pt;
    text-decoration: none;
}

/*body content 섹션*/
.content {
   margin-left: 40px;
}
