{% load staticfiles %}
<!DOCTYPE html>
<html>
   <head>
      <!-- boot strap -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <!-- Optional theme -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

      <!-- jejuhallasan font -->
      <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/earlyaccess/jejuhallasan.css">

      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

      <!-- static css file -->
      <link rel="stylesheet" href="{% static 'css/dash_board.css' %}">

      <!-- boot strap 반응형 웹페이지 (모바일 우선) -->
      <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
      <title>Dash Board</title>
   </head>
   <body>
      <div class="page-header row">
         <!-- 대문글. 클릭했을 때 상황이 두가지이다. -->
         <!-- 1. 로그인 했을 때 : home 으로 -->
         <!-- 2. 로그인 안했을 때 : 로그인 페이지로. -->
         <h2 class="col-md-3"><a href={% if user.is_authenticated %}"/missionary/overview"{% else %}"/"{% endif %}>Dash Board</a></h2>

         <!-- 로그인을 했다면 환영합니다! 홍길동님! 과 로그아웃 버튼을 띄워준다. -->
         {% if user.is_authenticated %}
         <div class="col-md-offset-6 col-md-2 header-font">환영합니다. {{ user.last_name }}님!</div>
         <div class="col-md-1 header-font"><a href="{% url 'signout' %}" style="color:#ff0000;"> Log Out</a></div>

         <!-- 로그인을 안했다면 페이지 헤더에 로그인 폼을 놓는다. -->
         {% else %}
         <!-- 로그인 폼을 여기에다가 놓을꺼예요 -->
         <div class="col-md-offset-4 col-md-5">
            <form class="form-horizontal" method="POST"> {% csrf_token %}
               <div class="form-group form-group-sm col-md-9">
                  <label for="signinEmailInput" class="col-md-4 control-label">Email</label>
                  <div class="col-md-8">
                     <input type="email" id="signinEmailInput" name="signinEmail" class="form-control" placeholder="Email">
                  </div>
                  <label for="signinPasswordInput" class="col-md-4 control-label">Password</label>
                  <div class="col-md-8">
                     <input type="password" id="signinPasswordInput" name="signinPassword" class="form-control" placeholder="Password">
                  </div>
               </div>
               <div class="form-group form-group-sm col-md-3">
                  <button type="submit" class="form-control btn btn-link">Sign In</button>
                  <a href="{% url 'signup' %}" class="form-control btn btn-primary">Sign Up !</a>
               </div>
            </form>
         </div>
         {% endif %}
      </div>

      <!-- 로그인을 했다면 네비게이션 바를 보여준다. -->
      {% if user.is_authenticated %}
      <nav class="navbar navbar-default">
         <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
               <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collaps-nav-main">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
               </button>
               <a class="navbar-brand" href="">
                 <img alt="Brand" src="{% static 'imgs/church-icon.png' %}" width="20" height="20">
               </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="collaps-nav-main">
               <ul class="nav navbar-nav">
                  <li class="{% if request.path == '/missionary/overview' %}active{% endif %}"><a href="{% url 'overview' %}">Overview</a></li>
                  <!-- <li class="{% if request.path == '/missionary/overview' %}active{% endif %}"><a href="{% url 'overview' %}">Specific view</a></li> -->
                  <li class="{% if request.path == '/missionary/add' %}active{% endif %}"><a href="{% url 'addmiss' %}">Add</a></li>
                  <li class="{% if request.path == '/missionary/modify' %}active{% endif %}"><a href="{% url 'spreadmiss' %}">Modify</a></li>
               </ul>
            </div>
         </div>
      </nav>
      {% endif %}

      <div class="container">
         <div class="row">
            <!-- template 확장을 할 부분. -->
            {% block content %}
            {% endblock %}
         </div>
      </div>

      <!-- 모든 페이지에서 오류나 사용자에게 보여줄 메세지가 있으면 alert을 이용해서 보여준다. -->
      <!-- 개발자는 return render 을 사용하는 모든 view 클래스에서 message를 넘겨준다. -->
      <!-- 보여줄 message가 없다면 그냥 ''를 넘겨주면 된다. -->
      <script type="text/javascript">
         if ("{{message}}" != "") {
            alert("{{message}}");
         }
      </script>

      <!-- boot strap java script -->
      <!-- Latest compiled and minified JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
   </body>
</html>
