{% extends 'dash_board/layout.html' %}

{% block content %}
<form class="form-horizontal" method="POST"> {% csrf_token %}
   <div class="form-group">
      <label for="emailInput" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-5">
         <input type="email" id="emailInput" name="email" class="form-control" placeholder="Email">
      </div>
   </div>
   <div class="form-group">
      <label for="passwordInput" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-5">
         <input type="password" id="passwordInput" name="password" class="form-control" placeholder="Password">
      </div>
   </div>
   <div class="form-group">
      <div class="col-sm-offset-6 col-sm-10">
         <button type="submit" class="btn btn-link">Sign In</button>
         <a href="{% url 'signup' %}" class="btn btn-primary">Sign Up !</a>
      </div>
   </div>
</form>

<script type="text/javascript">
   if ("{{message}}" != "") {
      alert("{{message}}");
   }
</script>

{% endblock %}
