{% extends 'dash_board/layout.html' %}

<!-- 선교사 사회적응 정도 변경 페이지. -->
<!-- views.missionary_spread 와 views.missionary_modify 참고 -->
{% block content %}
<table class="table table-hover" id="mis-table">
   <thead>
      <tr><th>#</th><th>Ward or Branch</th><th>Name</th></tr>
   </thead>
   <tbody id="mis-tbody">
      {% for mBasic in mBasics %}
         <tr><td>{{ mBasic.id }}</td><td>{{ mBasic.homeWardBranch }}</td><td>{{ mBasic.name }}</td></tr>
      {% endfor %}
   </tbody>
</table>

<!-- 띄우는 모달. -->
<!-- 자세한 사항은 http://bootstrapk.com/javascript/#modals 참고 -->
<div class="modal fade" id="mis-modal" tabindex="-1" role="dialog" aria-labelledby="myBodalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel"><span id="modal-head-name"></span>님의 정보.</h4>
         </div>
         <form class="form-horizontal" method="post">{% csrf_token %}
            <div class="modal-body">
               {% if modalForm %}
                  {{ modalForm.as_table }}
               {% endif %}
            </div>
            <div class="modal-footer">
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
               <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
         </form>
      </div>
   </div>
</div>


<script type="text/javascript">
   // 테이블을 클랙했을 때의 이벤트 리스너
   $('#mis-table td').on('click', function() {
      // get clicked table row - [id - homeWardBranch - name]
      row = $(this).parent().get(0)
      mis_id = row.cells[0].innerHTML
      mis_name = row.cells[2].innerHTML

      // modal head의 클릭한 선교사 이름을 뿌려준다.
      // TODO: 동작 확인 요망.
      // $('#modal-head-name').innerHTML = mis_name

      // page redirect
      // TODO : 지속해서 클릭할 시 #1#1#1#1 이렇게 쌓인다. 대안책 필요
      $(location).attr('href', document.URL + '#' + row.cells[0].innerHTML)

      // show modal
      $('#mis-modal').modal({
         show: true,
         keyboard: false
      })
   });
</script>


{% endblock %}
